body{
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}
#header{
    background: red;
    position: fixed;
    z-index: 100;
}
#header a{
   color: white;
}
#footer{
    background:red;
    text-decoration: none;
}
#footer h6{
    color: white;
}
a{
    text-decoration: none;
}
#carousel img{
    max-height: 400px;
}
#form{
    background-color: gray;
}
#loginform{
    color: white;
}